@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Have a nice day and work hard. Also remember to eat well, and stay hydrated! </p>
</div>
